

<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style1.css' />
   </head>
   <body>
      <div class="login_main">
         <div class="login_area">
            <div class="login_label" >Enter your Phone no.</div>
            <input type="text" size="40" id="phone">
            <div class="findMatch_btn" onclick="doSomething()">Let's find a match</div>
         </div>
      </div>
      <script src="/javascripts/clientside.js"></script>
   </body>
</html>

