.round {

    position: relative;

    text-align: center;

  }

  

  .round label {

    color: grey;

    background-color: #fff;

    border: 1px solid #ccc;

    border-radius: 10px;

    cursor: pointer;

    height: 28px;

    left: 0;

    position: absolute;

    top: 0;

    width: 80px;

  }

  .round input[type="checkbox"] {

    visibility: hidden;

    display: none;

  }

  

  .round input[type="checkbox"]:checked + label {

    background-color: #0d47a1;

    border-color: #0d47a1;

    color:#fff;

  }

  

  .round input[type="checkbox"]:checked + label:after {

    opacity: 0;

  

  }

 

  .bedroomTypes {

      display: flex;

      flex-flow: row wrap;

      justify-content: flex-start;

    height: 70%;

      

      

  }

 .bhk1{

  width: 30%;

 }

 .bhk2{

  width: 30%;

 }

 .bhk3{

  width: 30%;

 }

 .bhk3plus{

  width: 30%;

 }

  .topContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:640px

  }

  .locationContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:20%;

  }

  .bedroomContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:20%;

  }

 .bedroomTitle{

  height: 30%;

  justify-content: flex-start;

 

 }

 

  .budgetContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:20%;

  }

  .budgetTitle{

  height: 30%;

    justify-content: flex-start;

  }

  .budgetTextFields{

      display: flex;

            flex-flow: row wrap;

            justify-content: flex-start;

          height: 70%;

  }

 .minField{

  width: 30%;

 }

 .maxField{

  width: 30%;

 }

  .furnishingContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:20%;

  }

  .furnishingTypes{

          display: flex;

            flex-flow: row wrap;

            justify-content: flex-start;

          height: 70%;

  }

 .fully{

  width:30%;

 }

 .semi{

  width:30%;

 }

 .un{

  width:30%;

 }

  .availableInContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:20%;

  }

 .availableInTitle{

  height: 30%;

  justify-content: flex-start;

 }

  .availableInTypes{

       display: flex;

            flex-flow: row wrap;

            justify-content: flex-start;

          height: 70%;

  }

 .week{

  width:30%;

 }

 .weekplus{

  width: 30%;

 }

 .month{

  width:  30%;

 }

 .monthPlus{

  width:  30%;

 }

  .footerContainer{

    display: flex;

    flex-flow: row wrap;

    justify-content: space-around;

  }

 

  #locationSearchBox {

    display: none;

 }

 #selectedLocation {

    display: block;

 }

 /*

  .bedroomTypes div {

      width: 10%;

      height: 15px;

      padding: 0px 3px 0px;

  } */

#city2 {

    display: none;

}