body {

     font-family: 'Roboto', sans-serif;

     font-size: 17px;

     font-weight: normal;

     font-style: normal;

     font-stretch: normal;

     line-height: normal;

     letter-spacing: normal;

     padding-left: 1%;

}

body .header {

    padding-left: 0%;

    background-color: #5e23dc;

    height: 8%;

    display: flex;

    flex-flow: row nowrap;

    margin-bottom: 5%;

}

.my-dashboard-text {

    display: flex;

    color: white;

    margin-left:30%;

    font-family: 'Roboto', sans-serif;

    font-size: 17px;

    font-weight: normal;

    font-style: normal;

    font-stretch: normal;

    line-height: normal;

    letter-spacing: normal;

    justify-content: center;

    align-items: center;

}

.topContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: flex-start;

    height:640px

}

.locationContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: flex-start;

    height:20%;

    

}

.locationTitle {

    top: 10%;

    margin-top: 0%;

    font-size: 14px;

    display: flex;

    flex-flow: flex-start;

    height: 30%;

    margin-bottom: 3%;

}

.locationContainer #locationSearchBox {

   /* height: 10%;

    */

    height: 30px;

    padding-bottom:40%;

    margin-bottom: 5%;

}

#locationSearchBox {

    display: flex;

    flex-flow: column nowrap;

    height: 70%;

}

#selectedLocation span{

    margin-top:5%;

    width: 40%;

    height:100%;

}

#selectedLocation {

    display: flex;

    flex-flow:flex-start;

    

}

#city1 {

    display: flex;

    background-color: #5e23dc;

    color: white;

    height: 30px;

    border-radius: 13px;

    cursor: pointer;

    width: 100%;

    justify-content: center;

    align-items: center;

}

#city2 {

   /* display: none;

    */

    display: flex;

    background-color: #5e23dc;

    color: white;

    height: 30px;

    border-radius: 13px;

    cursor: pointer;

    width: 100%;

    justify-content: center;

    align-items: center;

}

 .round {

     font-size: 17px;

     position: relative;

     display: flex;

     justify-content: center;

     align-items: center;

     text-align: center;

}

 .round label {

     display: flex;

     justify-content: center;

     align-items: center;

     color: grey;

     background-color: #fff;

     border: 1px solid #ccc;

     border-radius: 10px;

     cursor: pointer;

     height:28px ;

     left: 0;

     position: absolute;

     top: 0%;

     width: 80px;

}

 .round input[type="checkbox"] {

     visibility: hidden;

     display: none;

}

 .round input[type="checkbox"]:checked + label {

     background-color: #5e23dc;

     border-color: #5e23dc;

     color:#fff;

}

 .round input[type="checkbox"]:checked + label:after {

     opacity: 0;

}

.furnishingContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:11%;

    

    

}

.furnishingTypes{

    padding-top: 10%;

    display: flex;

    flex-flow: row nowrap;

    height: 70%;

}

.fully{

    width:35%;

}

.semi{

    width:35%;

}

.un{

    width:30%;

}

 .furnishingTypes .round label{

     width:90%;

     font-family: 'Roboto', sans-serif;

     font-size: 12px;

     font-weight: normal;

     font-style: normal;

     font-stretch: normal;

     line-height: normal;

     letter-spacing: normal;

     color: grey;

     background-color: #fff;

     border: 1px solid #ccc;

     border-radius: 10px;

     cursor: pointer;

}

 .furnishingTypes .round{

     display: flex;

     justify-content: center;

     align-items: center;

     width: 100%;

}

.bedroomContainer{

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;

    height:15%;

     margin-bottom: 5%;

}

.bedroomTitle{

    height: 30%;

    justify-content: flex-start;

}

 .bedroomTypes {

     display: flex;

     flex-flow: row wrap;

     justify-content: flex-start;

     height: 70%;

}

.bedroomTitle, .budgetTitle, .furnishingTitle, .availableInTitle {

    font-size: 14px;

}

 .bhk1{

     width: 30%;

     height: 50%;

     display: flex;

     flex-flow: row nowrap;

    /*justify-content: center;

    */

     align-content: center;

     margin-right: 4%;

}

 .bhk2{

     width: 30%;

     height: 50%;

     display: flex;

     flex-flow: row nowrap;

    /* justify-content: center;

     */

     align-content: center;

     margin-right: 4%;

}

 .bhk3{

     width: 30%;

     height: 50%;

     display: flex;

     flex-flow: row nowrap;

    /* justify-content: center;

     */

     align-content: center;

}

 .bhk3plus{

     width: 30%;

     height: 50%;

     display: flex;

     flex-flow: row nowrap;

    /* justify-content: center;

     */

     align-content: center;

}

.bedroomTypes .round{

    display: flex;

     justify-content: center;

     align-items: center;

     width: 100%;

}

.bedroomTypes .round label{

    width:100%;

     font-family: 'Roboto', sans-serif;

     font-size: 12px;

     font-weight: normal;

     font-style: normal;

     font-stretch: normal;

     line-height: normal;

     letter-spacing: normal;

     color: grey;

     background-color: #fff;

     border: 1px solid #ccc;

     border-radius: 10px;

     cursor: pointer;

}

 .budgetContainer{

     display: flex;

     flex-flow: column nowrap;

     justify-content: space-around;

     height:10%;

     margin-bottom: 5%;

}

}

 .budgetTitle{

     height: 30%;

     justify-content: flex-start;

}

 .budgetTextFields{

     padding-top: 10%;

     display: flex;

     flex-flow: row wrap;

     justify-content:flex-start;

     align-items: center;

     height: 70%;

}

 .minField{

     width: 30%;

     padding-right: 15%;

}

 .maxField{

     width: 30%;

}

 #minValue {

     height: 30px;

}

 #maxValue {

     height: 30px;

}

 .availableInContainer{

     display: flex;

     flex-flow: column nowrap;

     justify-content: space-around;

     height:20%;

     margin-top: 5%;

     margin-bottom: 5%;

}

 .availableInTitle{

     height: 30%;

     display: flex;

     align-items: center;

}

 .availableInTypes{

     display: flex;

     flex-flow: row wrap;

     justify-content: flex-start;

     height: 70%;

}

 .week{

     width:30%;

     margin-right:4%;

}

 .weekPlus{

     width: 30%;

     margin-right:4%;

}

 .month{



     width: 30%;

}

 .monthPlus{

     width: 30%;

     margin-right:4%;

}

.availableInContainer .round {

    display: flex;

     justify-content: center;

     align-items: center;

     width: 100%;

}

.availableInContainer .round label {

    width:100%;

     font-family: 'Roboto', sans-serif;

     font-size: 12px;

     font-weight: normal;

     font-style: normal;

     font-stretch: normal;

     line-height: normal;

     letter-spacing: normal;

     color: grey;

     background-color: #fff;

     border: 1px solid #ccc;

     border-radius: 10px;

     cursor: pointer;

}

 .footerContainer{

     display: flex;

     flex-flow: row wrap;

     justify-content: space-around;

}

 .footerContainer {

     font-family: 'Roboto', sans-serif;

     font-size: 17px;

     font-weight: normal;

     font-style: normal;

     font-stretch: normal;

     line-height: normal;

     letter-spacing: normal;

     justify-content: center;

     align-items: center;

     position: relative;

     height: 5%;

     background-color: #1dd38f;

}

 .matchButton {

     position: absolute;

     cursor: pointer;

     top: 20%;

     color: white;

}